* {
  font-size: 75%;
}

a,
p {
  font-size: 1rem;
}

.navbar {
  height: 3.6rem;
}

.navbar .container-fluid {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar .add {
  position: fixed;
  top: 0;
  right: 1rem;
  z-index: 10;
  width: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5rem;
}

.progresses {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(90deg, red, #580404);
  z-index: 20;
  display: none;
}

.card {
  position: relative;
  padding-bottom: 3.5em !important;
  cursor: pointer !important;
  width: 18rem;
  border-radius: 0.8rem !important;
}

.card-img-top {
  width: 17.8rem !important;
  height: 10rem !important;
  object-fit: cover !important;
  border-radius: 0.8rem 0.8rem 0rem 0rem !important;
}

.over {
  width: 100%;
  height: 0.3rem;
  position: absolute;
  right: 0;
  z-index: 6;
  background-color: #212529;
  transition: all 0.3s linear;
}

.badge {
  font-size: 1em !important;
}

.btn {
  position: absolute !important;
  bottom: 0.9em;
}

.author {
  right: 0;
  color: #6c757d !important;
  font-size: 1.7em !important;
  line-height: 1.5rem;
}

.nav-link {
  cursor: pointer;
}
